<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">

    <title>Orai Lietuvoje</title>
    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body class="screen__background">
<span class="screen__background__shape screen__background__shape4"></span>
<span class="screen__background__shape screen__background__shape3"></span>
<span class="screen__background__shape screen__background__shape2"></span>
<span class="screen__background__shape screen__background__shape1"></span>
<div class="container">
    <nav class="navbar">
        <div id="nav-left" class="btn-group d-grid gap-3 d-md-block" role="group">
            <button type="button" class="btn btn-outline-light" role="button">Orai didžiuosiuose miestuose
                <img class="ikona" src="/img/miestas1.png" alt="cityIcon"></button>
            <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button">Oras Dabar <img
                    class="ikona" src="/img/saule.png" alt="sunIcon"></button>
            <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button">Rytoj<img
                    class="ikona" src="/img/tomorrow.png" alt="tomorrowIcon"></button>
            <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button">Išsaugoti orai<img
                    class="ikona" src="/img/saved.png" alt="savedIcon"></button>
        </div>
        <div class="nav-right">

            <div sec:authentication="name" class="username"
                 style="float: right; color: whitesmoke; font-size: xx-large">
            </div>
            <div>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Atsijungti</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>

        </div>
    </nav>
    <form method="get">
        <select name="city" onchange="this.form.submit()">
            <option value="">Select city</option>
            <option value="vilnius" th:selected="${indexModel.city=='vilnius'}">Vilnius</option>
            <option value="kaunas" th:selected="${indexModel.city=='kaunas'}">Kaunas</option>
            <option value="klaipeda" th:selected="${indexModel.city=='klaipeda'}">Klaipėda</option>
            <option value="siauliai" th:selected="${indexModel.city=='siauliai'}">Šiauliai</option>
            <option value="panevezys" th:selected="${indexModel.city=='panevezys'}">Panevėžys</option>
            <option value="marijampole" th:selected="${indexModel.city=='marijampole'}">Marijampolė</option>
            <option value="alytus" th:selected="${indexModel.city=='alytus'}">Alytus</option>
            <option value="telsiai" th:selected="${indexModel.city=='telsiai'}">Telšiai</option>
        </select>

        <input class="datosInput" type="date" name="date" th:value="${indexModel.date}" onchange="this.form.submit()">


    </form>

    <table id="myTable" class="table table-hover table-striped" style="width:50%;">
        <thead>
        <tr>
            <th>Data</th>
            <th>Temperatūra</th>
            <th>Vėjo greitis</th>
            <th>Veiksmas</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forecast : ${indexModel.forecasts}">
            <td class="date" th:text="${forecast.dateTime}"></td>
            <td class="temperature" th:text="${forecast.temperature}"></td>
            <td th:text="${forecast.windSpeed}"></td>
            <td>
                <button class="btn btn-light btn-sm save-button" th:if="${!forecast.alreadyExists}"
                        onclick="save(this)">Save<img class="ikona" src="/img/save1.png" alt="saveIcon">
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    document.getElementsByTagName("button")[1].onclick = function () {
        location.href = "/siandien"
    }</script>

<script>
    document.getElementsByTagName("button")[3].onclick = () => {
        location.href = "/issaugotiOrai"
    }
</script>

<script>
    document.getElementsByTagName("button")[2].onclick = () => {
        location.href = "/rytoj"
    }
</script>

<script>
    function save(element) {
        let parent = element.parentElement.parentElement;
        let date = parent.getElementsByClassName('date')[0].textContent;
        let temperature = parent.getElementsByClassName('temperature')[0].textContent;
        let selectElement = document.getElementsByName('city')[0];
        let city = selectElement.value;
        let data = {
            "dateTime": date,
            "city": city,
            "temperature": temperature
        };

        $.ajax({
            url: '/saveData',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                console.log("Data sent successfully");
                element.style.display = 'none';
            },
            error: function (error) {
                console.log("Error while sending data: ", error);
            }
        });

    }</script>

<script> document.getElementsByTagName("button")[0].onclick = function () {
    location.href = "/oraiDidziuosiuoseMiestuose"
}
</script>


</html>