<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issaugoti orai</title>
    <link rel="stylesheet" type="text/css" href="/css/issaugotiOrai.css">
</head>
<body class="screen__background">

<div class="right">
    <div sec:authentication="name" style="font-size: xx-large" class="username">
    </div>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <input type="submit" value="Atsijungti">
        </form>
    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button"
            style="width: 10%; float: left">Pradinis<img class="ikona" src="/img/home.png" alt="homeIcon">
    </button>
</div>

<table class="table">
    <tr>
        <th>Miestas</th>
        <th>Data</th>
        <th>Temperatūra</th>
        <th>Oro sąlygos</th>
    </tr>
    <tr th:each="forecast : ${forecasts}">
        <td th:text="${forecast.city}"></td>
        <td th:text="${forecast.date}"></td>
        <td th:text="${forecast.temperature}"></td>
        <td th:id="'condition-' + ${forecast.id}" th:text="${forecast.conditionCode}"></td>
        <script th:inline="javascript">
            /*<![CDATA[*/
            document.getElementById('condition-' + /*[[${forecast.id}]]*/ '').innerText =
                verstiConditionCode(document.getElementById('condition-' + /*[[${forecast.id}]]*/ '').innerText);
            /*]]>*/
        </script>
    </tr>
</table>
<span class="screen__background__shape screen__background__shape4"></span>
<span class="screen__background__shape screen__background__shape3"></span>
<span class="screen__background__shape screen__background__shape2"></span>
<span class="screen__background__shape screen__background__shape1"></span>
<script>
    function verstiConditionCode(conditionCode) {
        switch (conditionCode) {
            case "clear":
                return "Giedra";
            case "partly-cloudy":
                return "Mažai debesuota";
            case "cloudy-with-sunny-intervals":
                return "Debesuota su pragiedruliais";
            case "cloudy":
                return "Debesuota";
            case "thunder":
                return "Perkūnija";
            case "isolated-thunderstorms":
                return "Trumpas lietus su perkūnija";
            case "thunderstorms":
                return "Lietus su perkūnija";
            case "heavy-rain-with-thunderstorms":
                return "Smarkus lietus su perkūnija";
            case "light-rain":
                return "Nedidelis lietus";
            case "rain":
                return "Lietus";
            case "heavy-rain":
                return "Smarkus lietus";
            case "light-sleet":
                return "Nedidelė šlapdriba";
            case "sleet":
                return "Šlapdriba";
            case "freezing-rain":
                return "Lijundra";
            case "hail":
                return "Kruša";
            case "light-snow":
                return "Nedidelis sniegas";
            case "snow":
                return "Sniegas";
            case "heavy-snow":
                return "Smarkus sniegas";
            case "fog":
                return "Rūkas";
            case "null":
                return "Nėra duomenų";
            default:
                return "Nėra duomenų";
        }

    }

    let forecasts = document.querySelectorAll("[id^='condition-']");
    forecasts.forEach(function (forecast) {
        forecast.innerText = verstiConditionCode(forecast.innerText);
    });
</script>
</body>
</html>
<script>
    document.getElementsByTagName("button")[0].onclick = function () {
        location.href = "/"
    }
</script>
