<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issaugoti orai</title>
</head>
<body>
<div sec:authentication="name" style="float: right; color: dimgray; font-size: xx-large">
</div>
<div><form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    <input type="submit" value="Logout">
</form></div>
<table>
    <tr>
        <th>Miestas</th>
        <th>Data</th>
        <th>Temperatura</th>
    </tr>
    <tr th:each="forecast : ${forecasts}">
        <td th:text="${forecast.city}"></td>
        <td th:text="${forecast.date}"></td>
        <td th:text="${forecast.temperature}"></td>
    </tr>
</table>
</body>
</html>