<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rytojaus orai</title>
    <link rel="stylesheet" type="text/css" href="/css/rytoj.css">
</head>
<body class="screen__background">
<span class="screen__background__shape screen__background__shape4"></span>
<span class="screen__background__shape screen__background__shape3"></span>
<span class="screen__background__shape screen__background__shape2"></span>
<span class="screen__background__shape screen__background__shape1"></span>

<div class="main-container">
    <div class="vidurys">


        <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button"
        >Pradinis<img class="ikona" src="/img/home.png" alt="icon"></button>
        <div class="userLogout">
            <div class="username" sec:authentication="name" style=" color:whitesmoke; font-size: xx-large"></div>
            <div>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Atsijungti</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <form class="selektas" method="get">
        <select name="city" onchange="this.form.submit()">
            <option value="">Select city</option>
            <option value="vilnius" th:selected="${indexModel.city=='vilnius'}">Vilnius</option>
            <option value="kaunas" th:selected="${indexModel.city=='kaunas'}">Kaunas</option>
            <option value="klaipeda" th:selected="${indexModel.city=='klaipeda'}">Klaipėda</option>
            <option value="siauliai" th:selected="${indexModel.city=='siauliai'}">Šiauliai</option>
            <option value="panevezys" th:selected="${indexModel.city=='panevezys'}">Panevėžys</option>
            <option value="marijampole" th:selected="${indexModel.city=='marijampole'}">Marijampolė</option>
            <option value="alytus" th:selected="${indexModel.city=='alytus'}">Alytus</option>
            <option value="telsiai" th:selected="${indexModel.city=='telsiai'}">Telšiai</option>
        </select>
    </form>


    <div class="orasRytoj">


        <div th:each="forecast : ${indexModel.forecasts}" class="forecast">
            <div class="left-side">
                <div class="date" th:text="${forecast.dateTime}"></div>
                <div>Temperatura</div>
                <div class="temperature" th:text="${forecast.temperature}"></div>
                <div>Vėjo greitis</div>
                <div th:text="${forecast.windSpeed}"></div>
            </div>
            <img th:src="${'img/' + forecast.conditionCode + '.png'}" alt="Oro salygos">
        </div>
    </div>
</div>

<script>
    document.getElementsByTagName("button")[0].onclick = function () {
        location.href = "/"
    }
</script>

</body>
</html>