<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Siandien</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/siandien.css">
</head>
<body id="body">

<div class="sonai">
    <div>
        <p th:text="${indexModel.forecasts.get(0).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(0).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(0).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(1).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(1).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(1).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(2).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(2).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(2).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(3).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(3).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(3).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(5).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(5).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(5).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(6).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(6).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(6).windSpeed}">Vejo greitis</p>
    </div>
</div>
<div class="vidurys">

    <button type="button" class="btn btn-outline-light" role="button" data-bs-toggle="button"
            style="width: 10%; float: left">Pradinis<img class="ikona" src="/img/home.png" alt="homeIcon"></button>

    <div class="userLogout">
        <div class="username" sec:authentication="name"
             style="float: right; color: whitesmoke; font-size: xx-large"></div>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Atsijungti</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
    </div>
    <div>

        <form method="get">
            <select th:each="city : ${indexModel.city}" name="city" onchange="this.form.submit()">
                <option value="">Select city</option>
                <option value="Vilnius" th:selected="${indexModel.city=='vilnius'}">Vilnius</option>
                <option value="Kaunas" th:selected="${indexModel.city=='kaunas'}">Kaunas</option>
                <option value="Klaipeda" th:selected="${indexModel.city=='klaipeda'}">Klaipėda</option>
                <option value="Siauliai" th:selected="${indexModel.city=='siauliai'}">Šiauliai</option>
                <option value="Panevezys" th:selected="${indexModel.city=='panevezys'}">Panevėžys</option>
                <option value="Marijampole" th:selected="${indexModel.city=='marijampole'}">Marijampolė</option>
                <option value="Alytus" th:selected="${indexModel.city=='alytus'}">Alytus</option>
                <option value="Telsiai" th:selected="${indexModel.city=='telsiai'}">Telšiai</option>

            </select>
        </form>
    </div>

    <div style="margin-top: 10px">
        <h1 th:text="${indexModel.city}" style=" font-size: xxx-large"></h1></div>

    <div><h1><span>Temperatūra</span>


    </h1></div>


    <div><h2 th:text="${indexModel.forecasts.get(4).temperature}" style="font-size: xxx-large"></h2></div>


    <div>
        <h2>Vejo greitis</h2></div>
    <div th:text="${indexModel.forecasts.get(4).windSpeed}"
         style=" margin-top: 10px;font-size: xx-large"></div>

    <div>
        <h2>Oro sąlygos</h2>
    </div>
    <div style="font-size: xx-large" th:id="'condition-' + ${indexModel.forecasts.get(4).conditionCode}"
         th:text="${indexModel.forecasts.get(4).conditionCode}">

    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.getElementById('condition-' + /*[[${indexModel.forecasts.get(4).conditionCode}]]*/ '').innerText =
            verstiConditionCode(document.getElementById('condition-' + /*[[${indexModel.forecasts.get(4).conditionCode}]]*/ '').innerText);
        /*]]>*/
    </script>

</div>

<div class="sonai">

    <div>
        <p th:text="${indexModel.forecasts.get(7).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(7).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(7).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(8).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(8).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(8).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(9).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(9).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(9).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(10).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(10).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(10).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(11).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(11).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(11).windSpeed}">Vejo greitis</p>
    </div>
    <div>
        <p th:text="${indexModel.forecasts.get(12).dateTime}"></p>
        <p th:text="${indexModel.forecasts.get(12).temperature}">Temperatura</p>
        <p th:text="${indexModel.forecasts.get(12).windSpeed}">Vejo greitis</p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    function updateBackgroundImage(conditionCode) {
        let body = document.getElementById('body');
        switch (conditionCode) {
            case 'rain':
                body.style.backgroundImage = "url('/img/rain.jpg')";
                document.querySelectorAll("p").forEach(p => p.style.color = "white");
                document.querySelectorAll("p").forEach(p => p.style.textShadow =
                    "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black");
                document.getElementsByClassName("username")[0].style.textShadow =
                    "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black";
                document.getElementsByTagName("button")[0].style.textShadow =
                    "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black";
                document.getElementsByTagName("select")[0].style.backgroundColor = "white";
                break;
            case 'light-rain':
                body.style.backgroundImage = "url('/img/lightrain.jpg')";
                document.getElementsByTagName("select")[0].style.backgroundColor = "darkgoldenrod";
                document.querySelectorAll("p").forEach(p => p.style.color = "white");
                document.querySelectorAll("p").forEach(p => p.style.textShadow =
                    "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black");
                break;
            case 'cloudy':
                body.style.backgroundImage = "url('/img/cloudy.jpg')";
                document.getElementsByClassName("username")[0].style.textShadow =
                    "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black";
                document.getElementsByTagName("select")[0].style.backgroundColor = "grey";
                break;
            case 'clear':
                body.style.backgroundImage = "url('/img/clear.jpg')";
                document.getElementsByTagName("select")[0].style.backgroundColor = "teal";
                break;
            case 'partly-cloudy':
                body.style.backgroundImage = "url('/img/partlycloudy.jpg')";
                document.getElementsByTagName("select")[0].style.backgroundColor = "white";
                break;

            default:
                body.style.backgroundImage = "url('/images/default.jpg')";
        }
    }

    let conditionCode = /*[[${indexModel.forecasts[4].conditionCode}]]*/ 'defaultConditionCode';
    updateBackgroundImage(conditionCode);
    /*]]>*/
</script>

<script>
    document.getElementsByName("city")[0].onchange = function () {
        this.form.submit();
        let conditionCode = /*[[${indexModel.forecasts[4].conditionCode}]]*/ 'defaultConditionCode';
        updateBackgroundImage(conditionCode);
    }
</script>

<script>
    function verstiConditionCode(conditionCode) {
        switch (conditionCode) {
            case "clear":
                return "Giedra";
            case "partly-cloudy":
                return "Mažai debesuota";
            case "cloudy-with-sunny-intervals":
                return "Debesuota su pragiedruliais";
            case "cloudy":
                return "Debesuota";
            case "thunder":
                return "Perkūnija";
            case "isolated-thunderstorms":
                return "Trumpas lietus su perkūnija";
            case "thunderstorms":
                return "Lietus su perkūnija";
            case "heavy-rain-with-thunderstorms":
                return "Smarkus lietus su perkūnija";
            case "light-rain":
                return "Nedidelis lietus";
            case "rain":
                return "Lietus";
            case "heavy-rain":
                return "Smarkus lietus";
            case "light-sleet":
                return "Nedidelė šlapdriba";
            case "sleet":
                return "Šlapdriba";
            case "freezing-rain":
                return "Lijundra";
            case "hail":
                return "Kruša";
            case "light-snow":
                return "Nedidelis sniegas";
            case "snow":
                return "Sniegas";
            case "heavy-snow":
                return "Smarkus sniegas";
            case "fog":
                return "Rūkas";
            case "null":
                return "Nėra duomenų";
            default:
                return "Nėra duomenų";
        }

    }

    let forecasts = document.querySelectorAll("[id^='condition-']");
    forecasts.forEach(function (forecast) {
        forecast.innerText = verstiConditionCode(forecast.innerText);
    });
</script>

</body>
<script>
    document.getElementsByTagName("button")[0].onclick = function () {
        location.href = "/"
    }
</script>
</html>